<form action="/login" method="post" class="form-horizontal">
    <fieldset>
    
        <!-- Form Name -->
        <legend>Log In</legend>
        
        {{#loginFail}}
            <div class="alert alert-danger" role="alert">
                <p>Login failed.</p>
            </div>
        {{/loginFail}}
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input id="username" name="username" type="text" placeholder="UCID" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="signin"></label>
            <div class="col-md-4">
                <button type="submit" id="signin" class="btn btn-primary">Log In</button>
            </div>
        </div>

    </fieldset>
</form>
