<div style="display: none;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="pg-stu-wrap" id="stu_modal">
                ...
            </div>
        </div>
    </div>
</div>

<script src="/scripts/stu_grid.js"></script>