<ul class="pager">
      {{#if prev_page}}
      <li class="previous"><a href="{{link_to true page=prev_page}}">&larr; Previous</a></li>
      {{/if}}
      {{#if next_page}}
      <li class="next"><a href="{{link_to true page=next_page}}">Next &rarr;</a></li>
      {{/if}}
</ul>