<!doctype html>
<html class="html" lang="en">

<head>
    <meta charset="utf-8">
    <title>500 - Server Error</title>
    <link rel="stylesheet" href="/styles/bootstrap.darkly.css">
    <link rel="stylesheet" href="/styles/styles2.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


</head>

<body class="body pg-body">
    <!-- One fine body. -->
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
        <div class="containter">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Peanut Gallery</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/students">Students</a>
                            </li>
                            <li><a href="/staff">Staff</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="/logout">Log Out</a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">500 - Server Error</h3>
                </div>
                <div class="panel-body">
                    Whoops! We dropped something on our end and the page broke! Here is a cat instead.
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <div class="">
                        <a class="thumbnail pg-thumb" href="/">
                            <img src="http://lorempixel.com/275/375/cats/" alt="Cat" class="img-rounded img-responsive">
                            <div class="caption">
                                <h3>Cat</h3>
                                <p>Graduate</p>
                                <p>Cat Studies</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>

</html>