include ./partials/buttons_other

.container
  .panel.panel-info
    .panel-heading
      h3.panel-title Under Construction
    .panel-body
      p This site is currently under construction and is subject to change.
      p Staff pages not fully implemented. Please do not try to add, edit, or delete staff entries.
    .panel.panel-default
      .panel-heading
        h3.panel-title Adding Students
      .panel-body
        p Click here to add a student. UCID must be valid for image to display properly.
        form(action='/students/add')
          input.btn.btn-primary(type='submit', value='Add Student')
