extends ./layout.jade

block content
  include ./partials/buttons_other
  
  .container
    .panel.panel-info
      .panel-heading
        h3.panel-title Under Construction
      .panel-body
        p The temporary login credentials are:
        p Username: kewade
        p Password: 123
    form.form-horizontal(action='/login', method='post')
      fieldset
        // Form Name
        legend Log In
        // Text input
        .form-group
          label.col-md-4.control-label(for='username') Username
          .col-md-4
            input#username.form-control.input-md(name='username', type='text', placeholder='UCID', required='')
        // Password input
        .form-group
          label.col-md-4.control-label(for='passwordinput') Password
          .col-md-4
            input#password.form-control.input-md(name='password', type='password', placeholder='Password', required='')
        // Button
        .form-group
          label.col-md-4.control-label(for='signin')
          .col-md-4
            button#signin.btn.btn-primary(type='submit') Log In
